body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 400px;
    height: 400px;
}

.calculator-button {
    width: 100%;
    height: 70px;
    font-size: 2rem;
    background-color: #505050;
    color: white;
    border: none;
    border: 1px solid black;
}

.calculator-button:hover{
    background-color: #6c6a6a;
}

.operator-button:hover{
    background-color: #eab76e;
}

.operator-button{
    background-color: #FF9500;
}

.operator-button:focus{
    background-color: #ece5db;
    color: #FF9500;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-screen{
    /* margin-top:; */
    width: 392px;
    height: 55px;
    font-size: 2.3rem;
    background-color: #D4D4D2;
    color: black;
    text-align: right;
}

