body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

#container {
    background-color: black;
    width: 400px;
    height: 400px;
}

.calculator-button {
    width: 100%;
    height: 70px;
    font-size: 2rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 70px;
}

#calculator-screen{
    width: 392px;
    height: 50px;
    font-size: 2.3rem;
}

#history {
    color: red;
    text-align: right;
    font-size: 1.5rem;
}

#error-display{
    color: red;
    font-size: 1.2rem;
    text-align: right;
}
